
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #118ab2;
$dark-blue: #073b4c;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #EF476F;
$orange: #f6993f;
$yellow: #FFCA66;
$green: #06D69E;
$teal: #4dc0b5;
$cyan: #6cb2eb;