
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$red-text : #f44336;

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.container {
  height: 100%;
  align-content: center;
}

.card-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.card {
  margin-top: auto; 
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(243, 240, 240, 0.5) !important;
}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #FFC312;
  &:hover {
    color: white;
    cursor: pointer;
  }
}

.card-header h3 {
  color: white;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
  
}

.input-group-prepend span {
  width: 50px;
  background-color: $red;
  color: black;
  border:0 !important;
}

input:focus {
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important;

}

.remember {
  color: white;
}

.remember input
{
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
   &:hover {
    color: black;
    background-color: white;
   }
}

.links {
  color: white;
  a {
    margin-left: 4px;
  }
}


.full-width {
  width:100% !important;
}

.text-center {
  text-align: center;
}

.btn-light {
  border-color:#c9ccd0;
}

#login-title {
    color: $red;
    padding-top: 20px;
    font-weight: 600;
}

.btn-red {
  background-color:$red;
  border-color:$red;
  color:#FFF;
}

.button-container {
  float: right;
}

.btn-new-match, .btn-new-match:hover  {
  background-color: red;
  font-weight: bold;
  font-size: 24px;
  margin: 0px auto 10px auto;
  color: #FFF;
  padding: 7px 15px;
}


.user-login {
  border-bottom: 1px solid #CCC;
  margin-top: 10px;
  margin-bottom: 12px;
}

.match-box {
  display: flex;
  justify-content: center;
}

.word {
  font-size: 6rem;
  text-transform: uppercase;
  color:$red-text;
  font-family: Roboto;
}

.word-container {
  height:100px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.score-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.container-column:first-child{
  border-right: 2px solid #CCC;

}
.current-score {
  width: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 78px;
  color: #6d6b6b;
}

.player-title {
  font-weight: bold;
  font-size: 24px;
  font-family: Roboto;
  text-align: center;
  color: $red-text;
}

.h3-title {
  color: $red-text;
  font-weight: bold;
  text-align: center;
}
 
.word-hidden {

  transform:translate(9999px);
  opacity: 0; 
}

.word {
  transition: all 1s;
  position: absolute;
  animation: show-word 3s linear;
//   animation-name: bounce;
//   animation-duration: 4s; /* or: Xms */
//   animation-iteration-count: 10;
//   animation-direction: alternate; /* or: normal */
//   animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
//   animation-fill-mode: forwards; /* or: backwards, both, none */
//   animation-delay: 2s; /* or: Xms */
}

.word-visible-left { 
	animation: move-left 1s;
}

.word-visible-right { 
    animation: move-right 1s;
}

@keyframes move-left {
	from {left: 0%;}
	to {left: 100%;}
}


@keyframes move-right {
	from {right: 0%;}
	to {right: 100%;}
}

@keyframes show-word {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}

#match_timer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 18px;
  background: red;
  color: white;
  font-weight: bold;
}
.navbar-red {
  background-color: $red-text;
  color: #FFF;
  a {
    color:#FFF;
  }
  .navbar-toggler-icon {
    background-image: url('./../../public/svg/toggle-icon.svg');
  }
}

.bg-red {
  -webkit-box-shadow: 0 7px 6px -3px #CCC;
	   -moz-box-shadow: 0 7px 6px -3px #CCC;
          box-shadow: 0 7px 6px -3px #CCC;
    border-bottom: 1px solid #CCC;
   .navbar-nav > li > a {
     color: $red-text;
     font-size: 18px;
     font-family: Roboto;
     font-weight: bold;
     border-bottom:1px solid #eceaea;
   }
}

#menu-content {
  position: absolute;
  z-index: 1;
  width: 100%;
  background: #FFF;
}

.category-name {
    height: 188px;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: white;
    border: 1px solid #dadada;
}