
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Chilanka');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$red-text : #d0021b;

body {
  font-family: 'Chilanka';
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.container {
  height: 100%;
  align-content: center;
}

.card-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.card {
  margin-top: auto; 
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(243, 240, 240, 0.5) !important;
}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #FFC312;
  &:hover {
    color: white;
    cursor: pointer;
  }
}

.card-header h3 {
  color: white;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
  
}

.input-group-prepend span {
  width: 50px;
  background-color: $red-text;
  color: black;
  border:0 !important;
}

input:focus {
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important;

}

.remember {
  color: white;
}

.remember input
{
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
   &:hover {
    color: black;
    background-color: white;
   }
}

.links {
  color: white;
  a {
    margin-left: 4px;
  }
}


.full-width {
  width:100% !important;
}

.text-center {
  text-align: center;
}

.btn-light {
  border-color:#c9ccd0;
}

#login-title {
    color: $red;
    padding-top: 20px;
    font-weight: 600;
}

.btn-red {
  background-color:$red;
  border-color:$red;
  color:#FFF;
  border-radius: 0px;
  -webkit-box-shadow: 5px 6px 5px 0px rgb(90 90 90 / 75%);
  -moz-box-shadow: 5px 6px 5px 0px rgb(90 90 90 / 75%);
  box-shadow: 5px 6px 5px 0px rgb(90 90 90 / 75%);
}

.button-container {
  float: right;
}



.user-login {
  border-bottom: 1px solid #CCC;
  margin-top: 10px;
  margin-bottom: 12px;
  color:#3e3d3d;
  text-align: right;
  h5 {
    font-size: 16px;
    font-weight: bold;
  }
}

.match-box {
  display: flex;
  justify-content: center;
}

.score-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.current-score {
  width: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 78px;
  color: #6d6b6b;
}

.player-title {
  font-weight: bold;
  font-size: 24px;
  font-family: 'Chilanka';
  text-align: center;
  color: $red-text;
}

.h3-title {
  color: $red-text;
  font-weight: bold;
  text-align: center;
}
 
.word-hidden {

  transform:translate(9999px);
  opacity: 0; 
}

.word {
  transition: all 1s;
  position: absolute;
  animation: show-word 3s linear;
//   animation-name: bounce;
//   animation-duration: 4s; /* or: Xms */
//   animation-iteration-count: 10;
//   animation-direction: alternate; /* or: normal */
//   animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
//   animation-fill-mode: forwards; /* or: backwards, both, none */
//   animation-delay: 2s; /* or: Xms */
}

.word-visible-left { 
	animation: move-left 1s;
}

.word-visible-right { 
    animation: move-right 1s;
}

@keyframes move-left {
	from {left: 0%;}
	to {left: 100%;}
}


@keyframes move-right {
	from {right: 0%;}
	to {right: 100%;}
}

@keyframes show-word {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}

#match_timer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 18px;
  background: red;
  color: white;
  font-weight: bold;
}
.navbar-red {
  background-color: $red-text;
  color: #FFF;
  a {
    color:#FFF;
  }
  .navbar-toggler-icon {
    background-image: url('./../../public/svg/toggle-icon.svg');
  }
}


.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100px;;
  }
}

.category-name {
    height: 188px;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: white;
    border: 1px solid #dadada;
    a {
      cursor: pointer;
      font-weight: bold;
    }
}

.btn-red {
    background: $red-text;
    color: #FFF !important;
    padding: 10px 30px;
    &:hover{
      background: #c5251a;
      color: #FFF !important;
      padding: 10px 30px;
    }
}



.modal-title {
  font-weight: bold;
  font-size: 28px;
  color: #f44336;
  text-align: center;
  width: 100%;
}

.modal-footer {
  justify-content: center;
}

.fade.modal.show {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.arrow-link {
    padding: 12em 12em;
    margin: -12em -12em;
    position: relative;    
    z-index: 1;
    
}

.right {
  padding: 12em 0em 12em 12em;
}  

/**New CSS Layout **/

body {
	font-family: proxima-soft, sans-serif;
	font-weight: 500;
	font-style: normal;
}
a {
  color:$blue;
}
b, strong {
	color: $dark-blue;
}
.logo-top {
	max-width: 80%;
}
.white-label {
	color:#FFF;
	font-family: proxima-soft, sans-serif;
	text-align: center;
	display: block;
}
/**Registration**/
.title--main {
	font-family: proxima-soft, sans-serif;
	font-weight: 600;
	font-style: normal;
	color:$dark-blue;
	font-size: 25px;
}
.title--sub {
	color: $blue;
	font-size: 14px;
  margin-bottom: 26px;
}

.register {
	max-width: 400px;
}

.register--container {
	border-top-left-radius: 66px;
	flex:1 1 auto;
	border-top-right-radius: 66px;
	padding:3.25rem;
	min-height: 1px;
	height:100%;
	background-color: $blue;
}
.register--container--login {
	@extend .register--container;
	background-color: $yellow;	
}
.register--label {
	color:$dark-blue;
	width: 100%;
	font-size: 16px;
	margin-bottom: 5px;
}
.register--button {
	background-color: $dark-blue;
	color:#FFF;
	text-transform: uppercase;
	width: 100%;
	margin-top: 30px;
    margin-bottom: 30px;
}

.login--buton {
	@extend .register--button;
	background-color: $blue;
}

.register-input {
	margin-bottom: 20px;	
}


.title--main--login {
	@extend .title--main;
	font-size: 24px;
	margin-bottom: 16px;;
}

.user-profile-container {
  margin-top: 3rem !important;
  margin-bottom: 30px;
}

.login--create-acount {
	@extend .register--label;
	font-weight: 600;
}

.profile-container--image {
	width: 66px;
	height: 66px;
	border-radius: 50%;
	margin-right: 20px;
}

#menu-content {
	position: absolute;
	z-index: 1;
	width: 100%;
	top:126px;
	left: 0;
}

.divider {
	height:1px;
	background-color: rgba(7, 59, 76, 20%);
}

.nav-links {
	padding: 16px 0px;
	border-bottom: 1px solid rgba(7, 59, 76, 20%);
	font-weight: 600;
	background: $yellow;
}

.nav-links--last {
	@extend .nav-links;
	border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
	background-color: $red;
	a {
		color:#FFF;
	}
}
.title--sub-dashboard {
  font-size: 14px;
  color:$dark-blue;
}

.btn-new-match  {
  background-color: $blue;
  font-size: 16px;
  margin: 0px auto 10px auto;
  width: 100%;
  color: #FFF;
  padding: 20px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
}

.home--recent-match-block {
    height: 74px;
    align-items: center;
    border-radius: 10px;
    color: #FFF;
    -webkit-box-shadow: 0px 8px 5px 0px rgba(230,227,230,1);
    -moz-box-shadow: 0px 8px 5px 0px rgba(230,227,230,1);
    box-shadow: 0px 8px 5px 0px rgba(230,227,230,1);
    margin-top: 16px;
}

.home--stats-number {
	margin-top: 8px;
    font-size: 22px;
}

.home--stats-description {
	font-size: 16px;
}

.bg-blue {
	background-color: $blue;
	border: 1px solid rgb(0, 43, 58, 0.65);
}

.bg-green {
	background-color: $green;
	border: 1px solid #0b775ab8;
}

.bg-red {
	background-color: $red;
	border: 1px solid rgb(142, 14, 44, 0.65)
}

.bg-yellow {
	background-color: $yellow;
	border: 1px solid rgb(255, 167, 0, 0.65);
}

.bg-dark-blue {
	background-color: $dark-blue;
	border: 1px solid rgb(0, 17, 23, 0.65)
}

.color-dark-blue {
  	color: $dark-blue;
}

.color-white {
	color:#FFF;
}

.recent-matches-container {
    border: 2px solid $dark-blue;
    border-radius: 7px;
    overflow-x: auto;
}

.invite-friend-container {
	border: 1px solid $dark-blue;
	 border-radius: 7px;
	 color: $dark-blue;
	 min-height: 160px;
	 display: flex;
     justify-content: center;
	 align-items: center;
	 font-weight: 600;
}

.footer-container {
	background-image: url(/images/logo-bg.svg?af664c3…);
    min-height: 184px;
    display: flex;
    background-size: contain;
    justify-content: center;
    margin-top: 2em;
}

.logo-bottom {
	 max-width: 186px;
}

.user-settings-container {
	margin-top: auto; 
	margin-bottom: auto;
	width: 100%;
	background-color: $yellow;
	border-radius: 10px;
}

.new-word-container {
	min-height: 470px;
}

.category-title {
	font-family:  blockhead-dark-side, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 34px;
	color:#FFF;
}

.modal-body {
	text-align: center;
  	font-size: 24px;
	display: flex;
	flex-flow: column;
	align-items: center;
	padding:52px 0px 0px 0px;
}

.category-title--modal {
	@extend .category-title;
	font-size: 26px;
}

.category-container {
	border-radius: 7px;
    min-height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-text {
	padding: 20px 20px;
    font-size: 20px;
    line-height: 1.2;
    color: $dark-blue;
}
.title--main--modal {
	@extend .title--main;
	font-size: 34px;
}
.modal-open {
	background-color: #5fb0cb;
}
.modal-backdrop.show {
	opacity: 0;
}
.modal.show .modal-dialog {
	padding: 4px;
}

.modal-button--confirmation {
	border: 1px solid;
    border-radius: 5px;
    padding: 7px 0px;
}
.rotate-phone {
	-webkit-animation:rotate 1.2s infinite; // No more infinite
    -moz-animation:rotate 1.2s infinite;
    animation:rotate 1.2s infinite;
}
@-moz-keyframes rotate {
    100% { -webkit-transform: rotate(90deg); transform:rotate(90deg); }
}
@-webkit-keyframes rotate {
	0% { -webkit-transform: rotate(270deg); transform:rotate(270deg); }
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}
@keyframes rotate { 
	0% { -webkit-transform: rotate(270deg); transform:rotate(270deg); }
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}

/**Match**/
.invite-friend--container {
	@extend .register--container;
	background-color: $yellow;	
	border-radius: 6px;
	padding: 14px 3.2rem;
}
.invite-friend--text {
	color: $dark-blue;
	padding: 0 40px;
	font-size: 18px;
}

.invite-match--buton {
	background-color: $blue;
	font-size: 16px;
	margin: 0px auto 10px auto;
	width: 100%;
	color: #FFF;
	border-radius: 5px;
	font-weight: 600;
	border: 1px solid $blue;
	padding: 6px 0px;
}

.player-container {
	background: $yellow;
	border-radius: 6px;
	justify-content: center;
	align-items: center;
	display: flex; 
	min-height: 270px;
  &:nth-child(2) {
    background: $blue;
  }
}

.vs-left {
	font-size: 94px;
	font-family: blockhead-dark-side, sans-serif;
	position: absolute;
	right:0;
}

.vs-right {
	font-size: 94px;
	font-family: blockhead-dark-side, sans-serif;
	position: absolute;
	left: 0;
}

.vs-spacing {
  	margin: 1px auto 1px 1px;
}

.score {
	font-family: blockhead-dark-side, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 6em;
	color: $dark-blue;
	line-height: 1;
}

.match--top {
	background-image: url(/images/logo-bg.svg?af664c3…);
	min-height: 90px;
	display: flex;
	background-size: cover;
	justify-content: center;
	margin-top: 1em;
	align-items: center;
	background-position-y: 80px;
}
.match--top--logo {
  	max-width: 128px;
}

.match--profile-image {
	width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #073b4c;
}

.match--profile-name {
	@extend .title--main;
	font-size: 22px;
}

.match--starting-text {
	@extend .title--main;
	font-size: 20px;
	height: 20px;
}

.word-container {
	height:160px;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	max-width: 600px;
	align-items: center;
}

.word {
	font-size: 4em;
	color:$dark-blue;
	font-family: blockhead-dark-side, sans-serif;
	text-align: center;
}

.timer-container {
	width:100%;
	position: absolute;
	bottom: 0;
	height: 50px;
}

.timer-container--progress-bar {
	width: 82%;
	background-color: $red;
	border-top-left-radius: 6px;
	border-top-right-radius:6px;
	float: left;
	height: 50px;
}

.timer--clock {
	font-size:28px;
	color: $dark-blue;
	background-color:#f8fafc;
	width: 18%;
	float: left;
	height: 50px;
}

.timer-container-progress-bar--remaining {
	background-color: $body-bg;
	height: 50px;
	width: 0%;
}

.match-arrow {
	position: absolute;
    z-index: 1;
    height: 93px;
}

.match-arrow--right {
	@extend .match-arrow;
	right:0;
}

.match-arrow--left {
	@extend .match-arrow;
	left:0;
}

.match--turn-container {
	height: 38px;
}

.invite-sent--button {
	background: $yellow;
    padding: 4px 28px;
    margin-bottom: 24px;
    border-radius: 6px;
    font-weight: 600;
    color: $dark-blue;
}